* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: sans-serif;
  font-size: 1rem;
}

main {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

nav {
  height: 10vh;
  background: rgb(154, 248, 248);
}

ul {
  display: flex;
  list-style: none;
  /* width: 50%; */
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 350px; */
}

li {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* li {
  margin-right: 1rem;
} */

/* h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
} */

/* .container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
} */

.container {
  display: grid;
  width: 130px;
  margin: auto;
  margin-top: 100px;
  grid-template-columns: 200px 200px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-areas: "connect update ours";
  justify-content: center;
}
.custom-input {
  grid-area: update;
}

.connect {
  grid-area: connect;
  width: 130px;
}

.input-two {
  grid-area: ours;
  width: 130px;
  height: 26px;
}

/* .container2 {
  display: grid;
  width: 100px;
  height: 30px;
} */

.custom-input {
  color: transparent;
}

.custom-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-input::before {
  content: "Update Firmware";
  color: black;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-input:hover::before {
  border-color: black;
}

.custom-input:active::before {
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}

@media (max-width: 500px) {
  ul {
    height: 100%;
    /* margin-left: 50px; */
  }

  li {
    text-decoration: none;
    font-size: 1.5rem;
  }

  /* .container {
    display: block;
    width: 130px;
    margin: auto;
    margin-top: 100px;
  } */

  .container {
    display: grid;
    width: 130px;
    margin: auto;
    margin-top: 100px;
    grid-template-columns: 150px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas:
      "connect"
      "update"
      "ours";
    justify-content: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .connect {
    width: 130px;
    height: 26px;
    padding: 25px;
  }

  .input-two {
    width: 130px;
    height: 26px;
    padding: 25px;
  }

  .custom-input::before {
    content: "Update Firmware";
    color: black;
    display: flex;

    border: 1px solid #999;
    padding: 5px 8px;
    width: 110px;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
}
